<!DOCTYPE html>
<html>
   <head>

   </head>

   <body>

    <div class="container">
        <h1>Post Paylaş</h1>
        <form action="/post/createPost" method="POST">
            <label for="description">post:</label>
            <textarea id="description" name="description" required></textarea>
             <input type="submit" value="İlan Ver">
        </form>
    </div>


   


   </body>
</html>